<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StudyBud</title>
</head>
<body>
    {% extends 'main.html' %}
    {% block content %}

    <div class="homecontainer">

        <div class="sidebar">
            {% include 'base/topics_component.html' %}
        </div>
    
        <div class="middle">
            <div class="Room-header">
                <h3>Rooms <small>({{room_count}} rooms available)</small></h3>
                <div class="create-room">
                    <a href="{% url 'create_room' %}">Create Room</a>
                </div>
            </div>
            {% include 'base/feed_component.html' %}
        </div>
    
        <div class="recent">
            {% include 'base/activity_component.html' %}
        </div>    
    </div>
    {% endblock content %}
</body>
</html>