{% extends 'main.html' %}

{% block content %}
<div class="form-container">
    <fieldset class="room-edit">
        <legend>Room Settings</legend>
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-inputs">
                <label for="topic">Topic:</label><br>
                <input type="text" id="topic" list="topic-list" name="topic" value="{{room.topic.name}}" required>
                <datalist id="topic-list" name="topic-list">
                    <select name="room_topic" id="room_topic">
                        {% for topic in topics %}
                        <option value="{{topic.name}}">{{topic.name}}</option>
                        {% endfor %}
                    </select>
                </datalist>            
            </div>
            <div class="form-inputs">
                <label for="name" id="name" name="name">Name:</label><br>
                <input type="text" id="name" name="name" value="{{room.name}}" required>
            </div>
            <div class="form-inputs">
                <label for="Description" id="Description">Description:</label><br>
                <textarea name="Description" id="Description" cols="30" rows="10">{{room.description}}</textarea>
            </div>
            <input type="submit" value="Submit">
        </form>
    </fieldset>
</div>
{% endblock content %}