@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

:root {
    --bg-color: #0E0B16;
    --nav-color: #a239ca;
    --btn-color: #4717f6;
    --btn-hover: rgb(80, 76, 76);
    --txt-color: #e7dfdd;
    --card-color: #c1a232;
    --tag-color: #b11207;
}

body {
    font-family: 'Sofia Sans', sans-serif;
    background-color: var(--bg-color);
    color: var(--txt-color);
    height: 100vh;
}


body::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--txt-color);
}

a:focus, a:hover {
    color: burlywood;
}

.navbar {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;

}
.search {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    /* width: inherit; */
    align-items: center;
    justify-content: center; 
    /* align-self: center; */
    /* padding: 1rem; */
    /* text-align: center; */
}
/* .search form {
    width: inherit; 
} */
.search input {
    font-size: 1.3rem;
    border-radius: 1rem;
    padding-left: 1rem;
    border-color: black;
}
.search button {
    font-size: 1.3rem;
    border-radius: 1rem;
    margin-left: 0;
}

.search button:hover {
    background-color: var(--btn-hover);
    color: var(--txt-color);
}
.login {
    grid-column-start: 3;
    grid-column-end: -1;
    display: flex;
    width: inherit;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.homecontainer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.sidebar, .middle, .recent {
    height: 83vh;
    overflow: auto;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    margin: 0.5rem;
    border: 2px solid var(--bg-color);
}

.sidebar:hover, .middle:hover, .recent:hover {
    border: none;
}

.sidebar::-webkit-scrollbar, .middle::-webkit-scrollbar, .recent::-webkit-scrollbar {
    width: 0.5rem;
}

.sidebar::-webkit-scrollbar-thumb, .middle::-webkit-scrollbar-thumb, .recent::-webkit-scrollbar-thumb {
    background-color: rgba(177, 177, 223, 0.456);
    border-radius: 0.5rem;
}

.sidebar::-webkit-scrollbar-track, .middle::-webkit-scrollbar-track, .recent::-webkit-scrollbar-track {
    display: none;
}


.Room-header, .recent-header, .browse-header {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr;
    border-radius: 0.8rem;
    padding: 0.8rem;
    margin-bottom: 0.4rem;
    background-color: var(--nav-color);
    align-items: center;
    position: sticky;
    top: 0;
    font-size: 1.3rem;
}

.create-room {
    width: 100%;
    text-align: right;
}

.create-room a, .browse-card a {
    background-color: var(--btn-color);
    border-radius: 0.5rem;
    padding: 0.3rem;
    margin-bottom: 1rem;
}

.browse-card a {
    display: inline-block;
    margin-right: 0.5rem;
}

.create-room a:hover, .browse-card a:hover {
    color: var(--bg-color);
    background-color: gray;
}

.feed-card {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto;
}

.feed-card, .recent-card {
    background-color: var(--card-color);
    
    border-radius: 1rem;
    padding: 0.8rem;
    margin: 0.7rem;
}

.feed-card small {
    display: inline-block;
    border-radius: 0.3rem;
    background-color: var(--tag-color);
    color: var(--txt-color);
    padding: 0.2rem;
}

.room-op {
    text-align: right;
}

.room-topics {
    grid-column-start: 1;
    grid-column-end: 3;
}

.browse-card {
    display: block;
    padding: 0.5rem;
    margin-bottom: 1rem;
    height: auto;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.room-create, .loginform {
    grid-column-start: 2;
    grid-column-end: 3;
    /* grid-row-start: 2; */
    text-align: center;
}

.room-edit {
    padding: 1rem;
    margin: 1rem;
    font-size: 1.2rem;
    width: 25%;
}

.room-edit legend{
    color: var(--nav-color);
    font-size: 1.5rem;
}

.form-inputs {
    padding: 0.3rem;
    font-size: 1.2rem;
}
.form-inputs input, .form-inputs textarea{
    width: 100%;
}